<div class="flex items-center gap-[7px] py-[7px] border-b border-b-gray-200">
  <img
    src="https://images.pexels.com/photos/3978586/pexels-photo-3978586.jpeg"
    alt="img"
    class="w-10 h-10 object-cover object-center rounded-full flex-shrink-0"
  />
  <div class="flex flex-col">
    <div class="flex justify-between items-center">
        <h4 class="font-medium text-xs text-gray-900">John Doe</h4>
        <small class="text-xs text-gray-500">26-10-2025</small>
    </div>
    <p class="text-gray-500 text-[10px] line-clamp-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, quis nostrum. Perspiciatis!</p>
  </div>
</div>
